<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th> 
          <th scope="col" colspan ="2" > Ações</th>         
        </tr>
      </thead>
      <tbody>
        <% alunos.forEach(function(item){ %>
        <tr>
          <th scope="row">?</th>
          <td><%= item.nome %></td>
          <td><%= item.idade %></td>                 
          <td><a class="btn btn-info" href="/alunos/edit/<%= item._id%>" >Editar</a></td>
          <td><a class="btn btn-danger" href="delete/<%= item._id%>" onclick="return confirm('Tem certeza?')">Excluir</a></td>
        </tr>
       <% }) %>
      </tbody>
    </table>
    <a class="btn btn-success" href="/alunos/new">Cadastrar Novo</a>
  </body>
</html>
